body {
    font-family: 'Roboto';
    background-color: black;
}

.jumbotron {
    text-transform: uppercase;
}

#jumbo {
    padding: 1rem 2rem;
    margin: 0px;
}

.bar {
    background-color: blue;
}

.options {
    background-color: white;
    border: none;
    font-weight: 700;
}

#box1 {
    background-color:blue;
}

.box {
    height: 150px;
    width: 150px;
    border-radius: 10px;
    background-color:blue;
}

#gameboard {
    padding-top: 10px;
}

.row {
    margin-top: 15px;
}