.bar {
    background-color: blue;
}

#background {
    font-family: 'Roboto';
    background-color: black;
    text-transform: uppercase;
}

.box {
    height: 100px;
    width: 100px;
    border-radius: 15px;
    background-color:blue;
    border: 15px solid transparent;
    padding: 15px;
}

.box-container {
    background-color: red;    
    height: 150px;
}

#game {
    width: 410px;
    margin: auto;
    border-spacing: 15px;
    border-collapse: separate;
}

#jumbo {
    padding: 1rem 2rem;
    margin: 0px;
}

.options {
    background-color: white;
    border: none;
    font-weight: 700;
}